.photo-list-item {
  margin: 24px;
  padding: 8px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list-image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}


.photo-list-user-profile {
  object-fit: cover;
  border-radius: 50%; 
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 30px;
  width: 60px;
  height: 60px;
}

.photo-list-user-details {
  display: flex;
}

.photo-list-user-info {
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px;
  color: black; // Default color for light mode
  margin-left: 8px;

  // For dark mode
  body.dark-mode & {
    color: rgb(221, 245, 5);
  }
}

.photo-list-user-location {
  color: #838383;
margin-top: 5px;
}
