.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
    font-weight: 700;  
    font-size: 26px;  
    background: -webkit-linear-gradient(45deg, #FF5733, #FFC300, #33FF57, #33D2FF, #8533FF);  
    background: linear-gradient(45deg, #FF5733, #FFC300, #33FF57, #33D2FF, #8533FF);  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;  
    text-underline-position: under;
    margin-left: 5px;
    letter-spacing: 1.5px;  
    transition: transform 0.3s;  

  
  &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: -webkit-linear-gradient(45deg, #FF5733, #FFC300, #33FF57, #33D2FF, #8533FF);  
      background: linear-gradient(45deg, #FF5733, #FFC300, #33FF57, #33D2FF, #8533FF);  
      position: relative;
      top: -5px;
      margin-bottom: -5px;
  }

  
  &:hover {
      transform: scale(1.05);  
      }
}

